/* Estilos del Hero */

.hero__slide {
    background-color: var(--secondary-solid);
    width: 100%;
    height: 435px;
    border: none;
}

.hero__content {
    background-image: url(../img/contacto_slide.png);
    background-size: auto;
    background-repeat: none;
    border: none;
    height: 435px;
    padding: var(--spacing-68) 0;
}

.hero__titulo {
    font-size: var(--font-display);
    color: var(--light-solid);
    font-weight: 200;
    margin-bottom: 10px;
}

.hero__bajada_slide {
    color: var(--light-solid);
    padding: 5px;
    max-width: 450px;
    line-height: var(--font-small);
}

*{ padding: 0;
    margin: 0;}
    
    
    :root{
    
        --color-1: #403d13;
        --color-2:#8c5b49;
        --color-3:#595519;
        --color-4: #bfbb80;
        --color-5:#f2e2c4; 
        /* paleta1 */
        --color-6: #d92546;
        --color-7:#f2e0bd;
        --color-8:#809483;
    
    }
    
    .form__contenedor {
        display: flex;
        gap: 10px;
        font-family: var(--base-font);
        justify-content: left;
        padding: 40px 0;
    }

    