@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Colores */
    --primary-solid: #e20025;
    
    --secondary-solid: #3d3d3f;
    --secondary-600: #868789;
    --secondary-300: #C6C6C6;

    --light-solid: #ffffff; 

    --primary-bg-solid: #e20025;
    --secondary-bg-solid: #3d3d3f;

    /* Tipografias */
    --base-font: "Raleway", sans-serif;

    /* Tamaño Fuentes */
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;

    /* Espaciado */
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;

}

footer {
    background-color: var(--primary-bg-solid);
    /* padding: var(--spacing-28); */
    position: absolute;
    width: 100%;
    height: 310px;
    bottom: 0;
    left: 0;
}

.banda_bg__footer_roja {
    background-color: var(--primary-bg-solid);
    width: 100%;
    height: 310px;
}

.banda_bg__footer_gris {
    background-color: var(--secondary-bg-solid);
    width: 100%;
    height: 40px;
    border-color: #e20025;
    border-style: solid 0 0 0;
}

.navbar_footer {
    display: grid;
    grid-template-columns: auto 1fr 20% 15% 10%;
    grid-template-areas: 'logo_f datos menu_f login_f redes';
    height: 350px;
    gap: var(--spacing-16);
}

.navbar_footer__isologo_v {
    grid-area: logo_f;
    max-width: 100px;
    margin-top: var(--spacing-28);
}

.navbar_footer__datos {
    grid-area: datos;
    padding: var(--spacing-28);
}

.navbar_footer__menu {
    grid-area: menu_f;
}

.navbar_footer__redes {
    grid-area: redes;
    justify-content: end;
    align-items: center;
    display: flex;
    margin-top: var(--spacing-28);
    gap: var(--spacing-20);
}

.dato__razon_social {
    font-size: var(--font-xsmall);
    color: white;
}

.dato__movil {
    font-size: var(--font-xlarge);
    font-weight: 200;
    color: white;
}

.dato__mail {
    font-size: var(--font-xsmall);
    margin-bottom: var(--spacing-36)
}

.dato__url {
    font-size: var(--font-large);
    font-weight: 200;
    color: white;
}

.filete_footer_large {
    width: 6px;
    height: 162px;
    display:inline;
    float: left;
}

.navbar_footer__menu__items {
    margin-left: var(--spacing-20);
    margin-top: var(--spacing-28);
}

.navbar_footer__item {
    font-size: var(--font-xsmall);
    margin-bottom: var(--spacing-12);
    color: white;
}

.filete_footer_small {
    width: 6px;
    height: 138px;
    display: inline;
    float: left;
}

.navbar_footer__login__items {
    margin-left: var(--spacing-20);
    margin-top: var(--spacing-28);
}

.navbar_footer__item {
    font-size: var(--font-xsmall);
    margin-bottom: var(--spacing-12);
    
}

.navbar_footer__item:hover {
    font-size: var(--font-xsmall);
    font-weight: 600;
    /* color: var(--secondary-solid); */
    margin-bottom: var(--spacing-12);
}

.navbar_footer__item:active {
    font-size: var(--font-xsmall);
    font-weight: 700;
    color: var(--secondary-solid);
    margin-bottom: var(--spacing-12);
}

.navbar__footer__btn_f:link, .navbar__footer__btn_f:visited {
    background-image: url(../img/icono_facebook_blanco.svg);
    background-repeat: no-repeat;
    display: inline;
    float: left;
    width: 16px;
    height: 24px;
}

.navbar__footer__btn_f:hover, .navbar__footer__btn_f:active {
    background-image: url(../img/icono_facebook_gris_60.svg);
    background-repeat: no-repeat;
    display: inline;
    float:left;
    width: 16px;
    height: 24px;
}

.navbar__footer__btn_i:link, .navbar__footer__btn_i:visited {
    background-image: url(../img/icono_instagram_blanco.svg);
    background-repeat: no-repeat;
    display: inline;
    float: left;
    width: 24px;
    height: 24px;
}

.navbar__footer__btn_i:hover, .navbar__footer__btn_i:active {
    background-image: url(../img/icono_instagram_gris_60.svg);
    background-repeat: no-repeat;
    display: inline;
    float:left;
    width: 24px;
    height: 24px;
}

.navbar__footer__btn_x:link, .navbar__footer__btn_x:visited {
    background-image: url(../img/icono_x_blanco.svg);
    background-repeat: no-repeat;
    display: inline;
    float: left;
    width: 29px;
    height: 20px;
}

.navbar__footer__btn_x:hover, .navbar__footer__btn_x:active {
    background-image: url(../img/icono_x_gris_60.svg);
    background-repeat: no-repeat;
    display: inline;
    float:left;
    width: 29px;
    height: 20px;
}

.deco_footer_roja {
    align-items: top;
    max-width: 1170px;
    justify-content: center;

}

