*{
  margin: 0;
  padding: 0;
}

.terapias{
  background-image: url(../img/profesional_slide.webp);
  background-color:  #e20025;
  height: 435px;
  
}
.texto-terapias{
  width: 650px;
  padding-left: 260px;
  padding-top: 60px;
  margin-block: 20px;
  color: #fff;
}
.texto-terapias h2{
  color: solid #fff;
  font-size: var(--font-medium);
  margin-block: 20px;
}
.texto-terapias p ul {
  color: solid #fff;
  font-size: var(--font-small);
  margin-block: 20px;
}
.texto-terapias ul li{
  color: solid #fff;
  font-size: var(--font-small);
  margin-block: 20px;
  }
  
  .medicos{
    width: 800px;
    text-align: left;
    margin-left: 250px;
    margin-top: 80px;
  }
.titulo-card-medico{
  background-image: url(/static/img/fondo_titulo_profesionales.svg) ;
   height: 60px;
  background-repeat: no-repeat; 
  width: 460px;
}
.titulo-card-medico h2 {
  color: #fff;
  padding-left: 40px;
  padding-top: 10px;
}
 .medicos-terapias{
  display: flex;
  text-align: center;
  margin-bottom: 40px;
 }
.sacar-turno{
  font-size: var(--font-medium);
  font-weight: bold;
  color: #e20025;
}


