/* Contenedor principal */
.container {
    max-width: 1200px;
    margin:  auto;
    padding:  20px;
}



/* Estilos del Hero */
.hero {
    background-color: #868789;
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}

.hero__image {
    width: 100%;
    height: auto;
}

.hero__text {
    position: absolute;
    color: aliceblue;
    top: 20px; 
    left: 50px; 
    text-align: left; 
    padding: 5px;
    max-width: 450px;
}

.hero__text h1 {
    font-size: var(--font-xlarge);
    margin-bottom: 10px;
}

.hero__text p {
    font-size: var(--font-medium);;
    margin: 0;
}

/* Estilos de las secciones de Terapia */
.terapia {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.terapia__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.terapia__image {
    flex: 1;
    max-width: 500px;
    margin: 0 20px;
    border-radius: 10px;
}

.terapia__text {
    flex: 2;
    max-width: auto;
}

.terapia__text h2 {
    font-size: var(--font-large);
    margin-bottom: 10px;
    color: var(--primary-solid);
}

.terapia__text p {
    font-size: var(--font-medium);
    margin-bottom: 10px;
}

.terapia__text ul {
    list-style: disc;
    padding-left: 20px;
}

.terapia__text li {
    font-size: var(--font-medium);
    margin-bottom: 5px;
}

section:hover {
    font-weight: bold;
    transition: font-weight 1.5s ease;
}










