.navbar__titulo {
    font-size: 3em; 
    text-align: center; 
} 

body {
    background-color: #f0f0f0; 
}


body {
    margin-left: 20px;
    margin-right: 20px;
}

section {
    margin-bottom: 40px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

h2 {
    color: #333;
}

p {
    color: #666;
}

ul {
    list-style-type: disc;
    color: #666;
}


img {
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto
}


section h2 {
    font-size: var(--font-large);
}


section p {
    font-size: var(--font-small);
}


section ul {
    font-size: var(--font-small);
    list-style-type: disc;
    margin-left: 30px;
}

section:hover {
    background-color: #dad6d6;
    transition: background-color 1.5s ease;
    font-weight: bold;
    transition: font-weight 1.5s ease;
}

section:hover h2 {
    color: red;
}

