:root {
  /* Colores */
  --primary-solid: #e20025;
  
  --secondary-solid: #3d3d3f;
  --secondary-600: #868789;
  --secondary-300: #C6C6C6;

  --light-solid: #ffffff; 

  --primary-bg-solid: #e20025;
  --secondary-bg-solid: #3d3d3f;

  /* Tipografias */
  --base-font: "Raleway", sans-serif;

  /* Tamaño Fuentes */
  --font-display: 4.6em;
  --font-jumbo: 3.8em;
  --font-xlarge: 3em;
  --font-large: 2.4em;
  --font-medium: 1.8em;
  --font-small: 1.6em;
  --font-xsmall: 1.4em;

  /* Espaciado */
  --spacing-128: 12.8rem;
  --spacing-68: 6.8rem;
  --spacing-36: 3.6rem;
  --spacing-28: 2.8rem;
  --spacing-20: 2rem;
  --spacing-16: 1.6rem;
  --spacing-12: 1.2rem;
  --spacing-8: 0.8rem;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: var(--secondary-solid);
  font-family: var(--base-font);
}

a {
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

header {
  font-family: var(--base-font);
  color: var(--secondary-600);
}

footer {
  font-family: var(--base-font);
  color: var(--light-solid);
}

ul, ol {
  list-style-type: none;
}

p {
  font-size: 1.8em;
}

img {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}


body {
  text-align: center;
  margin: 0;
  font-family:"Raleway", sans-serif;
  font-style: normal;
  background-image: url("../../img/pexels-karolina-grabowska-4871342.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 100vw;
  opacity: 1;
}

#header img{
  width: 10%;
  height: 50%;
  }
#calendar {
  display: flex;
  gap: 5rem;
  padding: 2rem;
  align-items: center;
  justify-content: center;
}

#header {
  position: relative;
  display: flex;
  justify-content: left;
  background-color: #9C9E9F;
  color: black;
  font-size: 20px;
  align-items: center;
  width: 100vw;
  padding: 10px;
  flex-direction: row;
  padding-left: 15vw;
}
h1{
  padding-left: 5vw;
}
#week {
  display: flex;
  justify-content: center;
}

#hour_column div {
  height: 3.5rem;
  padding: 0 0.5rem;
  font-size: var(--font-small);
}

h2 {
  font-size: 1.1rem;
  margin: 0;
  font-weight: bolder;
  color: black;
  font-size: 20px;
}

.day {
  width: 10rem;
}

.day:nth-of-type(6) .hour_block {
  border-right: 1px black solid;
}

.hour_block {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-left: 1px black solid;
  margin-top: 0.2rem;
  padding: 0.5em;
}

.hour {
  position: relative;
  border-top: 1px black solid;
  height: 3.5rem;
}

.hour_block .hour:nth-of-type(8) {
  border-bottom: 1px #bbb solid;
}

#hour_column {
  margin-top: var(--font-medium);
}

#schedule {
  color: black;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  
}

#add_form {
  margin-top: 1rem;
  border: 3px solid black;
  border-radius: 10px;
  padding: 20px;
  /* flex: 1; */
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-weight: bolder;
}

#add_form input,
select {
  margin-bottom: 0.5em;
  padding: 0.3em;
  width: 15em;
  border-radius: 10px;
  border: 2px solid black;
  text-align: center;
}

#add_form button {
  border-radius: 30px;
  border: 3px solid black;
  color: black;
  background-color: #9C9E9F;
  margin: 20px;
  font-weight: bolder;
  padding-inline: 20px;
}

#add_form button:hover {
  background-color: #E20025;
}

.event {
  background-color: var(--primary-solid);
  color: #fff0f2;
  font-size: 1em;
  /* border: 2px black solid; */
  top: 3px;
  right: -1.5px;
  z-index: 1;
  position: absolute;
  width: 9.3rem;
  padding: 0.3rem 0 0 0.3rem;
  border-radius: 0.2rem;
}

#header .filete {
  background-image: url("../../img/filete_footer_large.png");
  background-repeat: repeat;
  z-index: 9999;
  top: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
}