<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediQi // Medicina Tradicional CHINA</title>
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/contacto.css">
    <link rel="stylesheet" href="../static/css/footer.css">
</head>
<body>
    <!-- Inicio Header -->
    <header>
        <nav class="navbar container">
            <picture class="navbar__isologo_rec">
                <a href="../Index.html"><img src="../static/img/Isologotipo_MediQi_H.svg"
                        alt="MediQi // Medicina Tradicional CHINA"></a>
            </picture>
            <ul class="navbar__login">
                <li class="navbar__login__item">
                    <a class="navbar__login__link" href="..//Index.html">INGRESAR</a>
                </li>
                <li>
                    <picture class="filete_header_login">
                        <img src="../static/img/filete_header_login.svg" alt="">
                    </picture>
                </li>
                <li class="navbar__login__icono">
                    <a class="navbar__login__btn_f" href="http://www.facebook.com"></a>
                </li>
                <li class="navbar__login__icono">
                    <a class="navbar__login__btn_i" href="http://www.instagram.com"></a>
                </li>
                <li class="navbar__login__icono">
                    <a class="navbar__login__btn_x" href="http://www.x.com"></a>
                </li>
            </ul>
            <ul class="navbar__menu">
                <li class="navbar__menu__item">
                    <a class="navbar__menu__link_1" href="../Index.html">MEDIQI</a>
                </li>
                <li class="navbar__menu__item">
                    <a class="navbar__menu__link_2" href="../templates/terapias.html">TERAPIAS</a>
                </li>
                <li class="navbar__menu__item">
                    <a class="navbar__menu__link_3" href="../templates/profesionales.html">PROFESIONALES</a>
                </li>
               
            </ul>
        </nav>
    </header>
    <!-- Fin Header -->

    <main>
        
         <div id="formulariocontacto">
         <h1 class="FormulariodeContacto">Formulario de contacto</h1>
         </div>
 
           
        <div id="sociomembresia">
            <h2>Posee membresia?</h2>
            <div class="membresia">
                <div class="item1">
                <input type="radio" name="afiliado" >
                <label for="afiliadosi">Si</label></div>   
            <div class="item1">
                <input type="radio" name="afiliado" >
                <label for="afiliadono">No</label></div>
            <div class="item1">
                <label for="numeroafiliado">Numero de membresia:</label>
                <input type="password" name="numeroafiliado"  maxlength="9" required placeholder="AAA111-99" > </div>
            </div>
        </div>

    <h2 class="datospersonales">Datos personales</h2> 
    <div id="datos">            
        <div class="item">
            <label for="Sexo">Sexo:</label>
            <select name="sexo" id="sexo">
                      
                <option value="M">M</option>
                <option value="F">F</option>
                <option value="Otro">Otro</option>
                <option value=""></option> 
            </select> 
        </div>
        <div class="item"> 
            <label for="pronombre">Seleccione pronombre:</label>
            <select name="pronombre" >                   
                    <option value="Sr.">Sr.</option>
                    <option value="Sra.">Sra.</option>
                    <option value="Otro">Otro</option>
            </select>
        </div>
        <div class="item">
             <label for="nombre">Nombre:</label>
            <input type="text" name="nombre"  maxlength="15" required>
        </div>
        <div class="item">
            <label for="apellido">Apellido:</label>
            <input type="text" name="apellido"  maxlength="15"  required>
        </div>
        <div class="item">
            <label for="typedoc">Tipo de documento:</label>
                <select name="typedoc" >                   
                    <option value="DNI">DNI</option>
                    <option value="LC">LC</option>
                    <option value="CI">CI</option>
                    <option value="PASAPORTE">PASAPORTE</option>
                </select>
            
            <label for="doc">Numero de documento:</label>
            <input type="text" name="doc"  maxlength="15"  required>
        </div>
        <div class="item">
            <label for="fechanac">Fecha de nacimiento:</label>
            <input type="date" name="fechanac"   required>
        </div>
        <div class="item">
            <label for="email">Email:</label>
            <input type="email" name="email"  maxlength="50"  required>
        </div>
        <div class="item">
            <label for="calle">Direccion - Calle:</label>
            <input type="text" name="calle"  maxlength="30" required>
        </div>
        <div class="item">                  
            <label for="numero">Numero:</label>
            <input type="number" min="0"  maxlength="5">
        </div>
        <div class="item">
            <label for="celular">Numero celular:</label>
            <input type="tel" name="celular"  maxlength="14" required>
        </div>
        <div class="item">
            <h3>Compañia:</h3>
                <select name="compania" >
                    <option value="opcioncel">Movistar</option>
                    <option value="opcioncel">Claro</option>
                    <option value="opcioncel">Personal</option>
                    <option value="opcioncel">Otra</option>
                </select>
        </div>
        <div class="item">   
            <label for="telfijo">Numero fijo:</label>
            <input type="tel" name="telfijo"  maxlength="14" required>
        </div>
        <div class="item">   
            <label for="comentario">Deje su comentario:</label>
            <textarea name="comentario" id="comentario" rows="10" cols="100" required placeholder="Mi comentario es..."></textarea>
        </div>
        <div class="item">  
            <label for="archivo">Adjuntar archivo:</label>
            <input type="file" name="adjarch" id="adjarch" rows="10" cols="100">
        </div>  
             
<!-- Acupuntura
Reflexología
Hierbas chinas
Cupping
Fricción dérmica
Terapias dietéticas
Moxibustión
Tui na
Auriculoterapia
 -->
        <div class="uno">
            <label for="terapias">Sobre que terapia quisiera informacion:</label>
                <div id="checkbox">
                    <input class="dos" type="checkbox" name="terapias" id="terapias" value="Acupuntura">Acupuntura <br>
                    <input class="dos" type="checkbox" name="terapias" id="terapias" value="Reflexología">Reflexología  <br>
                    <input class="dos" type="checkbox" name="terapias" id="terapias" value="hierbas chinas">Hierbas chinas <br>
                    <input class="dos" type="checkbox" name="terapias" id="terapias" value="Cupping">Cupping <br>
                    <input class="dos"  type="checkbox" name="terapias" id="terapias" value="Friccion dermica">Friccion dermica <br>
                    <input class="dos"  type="checkbox" name="terapias" id="terapias" value="Terapias dieteticas">Terapias dieteticas <br>
                    <input class="dos" type="checkbox" name="terapias" id="terapias" value="Moxibustion">Moxibustion  <br>
                    <input class="dos" type="checkbox" name="terapias" id="terapias" value="Tuina">Tui Na  <br>
                    <input class="dos" type="checkbox" name="terapias" id="terapias" 
                    value="Auriculoterapis">Auriculoterapia  <br>
                </div>
        </div> 
        <div class="item">           
                <label for="enviar"></label>
                
                <input type="submit" id="numero" value="Enviar">
        </div>    
        <div class="item">
                <label for="numero">Nivel de satisfaccion con el formulario</label>
                <input type="range" id="numero" min="0" value="1" max="10">
        </div>
    </div>
                <h2>¿Como nos conociste?</h2>
    <div class="como" >           
                <div class="redes">
                 <input type="radio" name="conocer" id="conocer1">
                 <label for="conocer1">Instagram</label> 
             
                </div>
                <div class="redes">
                 <input type="radio" name="conocer" id="conocer2">
                 <label for="conocer2">Facebook</label>
             
                </div>       
                <div class="redes">
                    <input type="radio" name="conocer" id="conocer3">
                    <label for="conocer3">Via publica</label>
                </div>       
                <div class="redes">
                    <input type="radio" name="conocer" id="conocer4">
                    <label for="conocer4">Referido</label>
                </div>       
                <div  class="redes">
                    <input type="radio" name="conocer" id="conocer5">
                    <label for="conocer5">Medios de comunicación</label>
                </div>       
                <div class="redes">
                    <input type="radio" name="conocer" id="conocer6">
                    <label for="conocer6">Google</label>
                </div>       
    </div>
    </div>
    </main>
<!-- Inicio Footer -->
    <footer style="position: relative;bottom:0;width: 100%;">


    <div class="banda_bg__footer_roja">
        <nav class="navbar_footer container">
            <div class="navbar_footer__isologo_v">
                <picture>
                    <a href="../Index.html"><img src="../static/img/Isologotipo_MediQi_V_Blanco.svg"
                            alt="MediQi // Medicina Tradicional CHINA"></a>
                </picture>
            </div>
            <div class="navbar_footer__datos">
                <p class="dato__razon_social">MediQi | Medicina tradicional CHINA</p>
                <p class="dato__movil">11.1234.5678</p>
                <div class="dato__mail"><a href="mailto:mediqi.mtc@gmail.com">mediqi.mtc@gmail.com</a></div>
                <p class="dato__url">
                    <a href="http://www.mediqi.com.ar">www.mediqi.com.ar</a>
                </p>
            </div>
            <div class="navbar_footer__menu">
                <picture class="filete_footer_large">
                    <img src="../static/img/filete_footer_large.svg" alt="">
                </picture>
                <ul class="navbar_footer__menu__items">
                    <li class="navbar_footer__item"><a href="../templates/institucional.html">MEDIQI</a></li>
                    <li class="navbar_footer__item"><a href="../templates/terapias.html">TERAPIAS</a></li>
                    <li class="navbar_footer__item"><a href="../templates/profesionales.html">PROFESIONALES</a></li>
                    
                </ul>
            </div>
            <div class="navbar_footer__login">
                <picture class="filete_footer_small">
                    <img src="../static/img/filete_footer_small.svg" alt="">
                </picture>
                <ul class="navbar_footer__login__items">
                    <li class="navbar_footer__item"><a href="templates/login.html">INGRESAR</a></li>
                    <li class="navbar_footer__item"><a href="templates/registrese.html">REGISTRESE</a></li>
                </ul>
            </div>
            <div>
                <ul class="navbar_footer__redes">
                    <li class="navbar_footer__redes__item">
                        <a class="navbar__footer__btn_f" href="http://www.facebook.com"></a>
                    </li>
                    <li class="navbar_footer__redes__item">
                        <a class="navbar__footer__btn_i" href="http://www.instagram.com"></a>
                    </li>
                    <li class="navbar_footer__redes__item">
                        <a class="navbar__footer__btn_x" href="http://www.x.com"></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="banda_bg__footer_gris">
        <picture class="deco_footer_roja">
            <img src="../static/img/deco_footer_roja.svg" alt="">
        </picture>
    </div>
</footer>
<!-- Fin Footer -->
    <nav>
        <h6> Falta pie de pagina</h6>
    

    </nav>    
    </footer>
    
</body>
</html>