<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <link rel="stylesheet" href="../static/css/profesionales.css">
        <link rel="stylesheet" href="../static/css/index.css">
        <link rel="stylesheet" href="../static/css/header.css">
        <link rel="stylesheet" href="../static/css/footer.css">

    </head>

    <body>
        <header>
            <nav class="navbar container">
                <picture class="navbar__isologo_rec">
                    <a href="../Index.html"><img src="../static/img/Isologotipo_MediQi_H.svg"
                            alt="MediQi // Medicina Tradicional CHINA"></a>
                </picture>
                <ul class="navbar__login">
                    <li class="navbar__login__item">
                        <a class="navbar__login__link" href="templates/login.html">INGRESAR</a>
                    </li>
                    <li>
                        <picture class="filete_header_login">
                            <img src="../static/img/filete_header_login.svg" alt="">
                        </picture>
                    </li>
                    <li class="navbar__login__icono">
                        <a class="navbar__login__btn_f" href="http://www.facebook.com"></a>
                    </li>
                    <li class="navbar__login__icono">
                        <a class="navbar__login__btn_i" href="http://www.instagram.com"></a>
                    </li>
                    <li class="navbar__login__icono">
                        <a class="navbar__login__btn_x" href="http://www.x.com"></a>
                    </li>
                </ul>
                <ul class="navbar__menu">
                    <li class="navbar__menu__item">
                        <a class="navbar__menu__link_1" href="../Index.html">MEDIQI</a>
                    </li>
                    <li class="navbar__menu__item">
                        <a class="navbar__menu__link_2" href="../templates/terapias.html">TERAPIAS</a>
                    </li>
                    <li class="navbar__menu__item">
                        <a class="navbar__menu__link_4" href="../templates/contacto.html">CONTACTO</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main>
        <div class="terapias">
            <div class="texto-terapias">
            <h2>PROFESIONALES</h2>
            <P>Contamos con una amplia red de profesionales donde encontrarás el de tu confianza aquí</P>
                <ul>
                <a href="#auriculoterapia"><li>Auriculoterapia</li></a>
                <a href="#acupuntura"><li >Acupuntura</li></a>
                <a href="#moxibustion"><li >Moxibustión</li></a>
                <a href="#masaje"><li >Masaje Tuina</li></a>
                <a href="#ventosa"><li >Ventosa</li></a>
            </ul>
        </div>
        </div>
         <div class="medicos">
            <div class="titulo-card-medico" id="auriculoterapia">
                <h2>TERAPEUTAS DE AURICULOTERAPIA</h2>
            </div>
            <div class="medicos-terapias">
                <div class="card-médicos">
                    <img src="../static/img/profesional_01.png" alt="Foto de la Dra. Inge Solle">
                    <h2>Dra. Inge Solle</h2>
                    <p>MP 15797</p>
                    <a href="turnos.html#inge" class="sacar-turno">SACAR TURNO</a>
                </div>
                <div class="card-médicos">
                    <img src="../static/img/profesional_02.png" alt="Foto de la Dr. Facundo Irigoyen">
                    <h2>Dr. Facundo Irigoyen</h2>
                    <p>MP 14137</p>
                    <a href="turnos.html#facundo"class="sacar-turno" >SACAR TURNO</a>
                </div>
                <div class="card-médicos">
                    <img src="../static/img/profesional_03.png" alt="Foto de la Dra. Annabella MacRae">
                    <h2>Dra. Annabella MacRae</h2>
                    <p>MP 14912</p>
                    <a href="turnos.html#annabella"class="sacar-turno" >SACAR TURNO</a>
                </div>
            </div>
            <div class="titulo-card-medico" id="acupuntura">
                <h2>TERAPEUTAS DE ACUPUNTURA</h2>
            </div>
            <div class="medicos-terapias">
                <div class="card-médicos">
                    <img src="../static/img/profesional_03.png" alt="Foto de la Dra. Annabella MacRae">
                    <h2>Dra. Annabella MacRae</h2>
                    <p>MP 11703</p>
                    <a href="turnos.html#annabella"class="sacar-turno" >SACAR TURNO</a>
                </div>
                <div class="card-médicos">
                    <img src="../static/img/profesional_04.png" alt="Foto de la Dr. Roberto Scheitling">
                    <h2>Dr. Roberto Scheitling</h2>
                    <p>MP 18290</p>
                    <a href="turnos.html#roberto" class="sacar-turno" >SACAR TURNO</a>
                </div>
                <div class="card-médicos">
                    <img src="../static/img/profesional_02.png" alt="Foto de la Dr. Facundo Irigoyen">
                    <h2>Dr. Facundo Irigoyen</h2>
                    <p>MP 14137</p>
                    <a href="turnos.html#facundo"class="sacar-turno" >SACAR TURNO</a>
                </div>
            </div>
            <div class="titulo-card-medico" id="moxibustion">
                <h2>TERAPEUTAS DE MOXIBUSTIÓN</h2>
            </div>
            <div class="medicos-terapias">
                <div class="card-médicos">
                    <img src="../static/img/profesional_05.png" alt="Foto de la Dr. Liu Ming">
                    <h2>Dr. Liu Ming</h2>
                    <p>MP 16623</p>
                    <a href="turnos.html#liu" class="sacar-turno" >SACAR TURNO</a>
                </div>
                <div class="card-médicos">
                    <img src="../static/img/profesional_06.png" alt="Foto de la Dr. Máximo Balanta">
                    <h2>Dr. Máximo Balanta</h2>
                    <p>MP 14912</p>
                    <a href="turnos.html#maximo" class="sacar-turno" >SACAR TURNO</a>
                </div>
                <div class="card-médicos">
                    <img src="../static/img/profesional_04.png" alt="Foto de la Dr. Roberto Scheitling">
                    <h2>Dr. Roberto Scheitling</h2>
                    <p>MP 18290</p>
                    <a href="turnos.html#roberto" class="sacar-turno" >SACAR TURNO</a>
                </div>
            </div>
            <div class="titulo-card-medico" id="masaje">
                <h2>TERAPEUTAS DE MASAJE TUINA</h2>
            </div>
            <div class="medicos-terapias">
            <div class="card-médicos">
                <img src="../static/img/profesional_02.png" alt="Foto de la Dr. Facundo Irigoyen">
                <h2>Dr. Facundo Irigoyen</h2>
                <p>MP 14137</p>
                <a href="turnos.html#facundo" class="sacar-turno" >SACAR TURNO</a>
            </div>
            <div class="card-médicos">
                <img src="../static/img/profesional_06.png" alt="Foto de la Dr. Roberto Scheitling">
                <h2>Dr. Roberto Scheitling</h2>
                <p>MP 18290</p>
                <a href="turnos.html#roberto"class="sacar-turno"  >SACAR TURNO</a>
            </div>
            <div class="card-médicos">
                <img src="../static/img/profesional_05.png" alt="Foto de la Dr. Liu Ming">
                <h2>Dr. Liu Ming</h2>
                <p>MP 16623</p>
                <a href="turnos.html#liu"class="sacar-turno"  >SACAR TURNO</a>
            </div>
        </div>
            <div class="titulo-card-medico" id="ventosa">
                <h2>TERAPEUTAS DE VENTOSA</h2>
            </div>
            <div class="medicos-terapias">
            <div class="card-médicos">
                <img src="../static/img/profesional_04.png" alt="Foto de la Dr. Roberto Scheitling">
                <h2>Dr. Roberto Scheitling</h2>
                <p>MP 18290</p>
                <a href="turnos.html#roberto"class="sacar-turno"   >SACAR TURNO</a>
            </div>
            <div class="card-médicos">
                <img src="../static/img/profesional_05.png" alt="Foto del Dr. Liu Ming">
                <h2>Dr. Liu Ming</h2>
                <p>MP 16623</p>
                <a href="turnos.html#liu"class="sacar-turno"  >SACAR TURNO</a>
            </div>
            <div class="card-médicos">
                <img src="../static/img/profesional_01.png" alt="Foto de la Dra. Inge Solle">
                <h2>Dra. Inge Solle</h2>
                <p>MP 15797</p>
                <a href="turnos.html#inge"class="sacar-turno"  >SACAR TURNO</a>
            </div>
        </div>
         </div>   
        </main>

        



         <!-- Inicio Footer -->
    <footer>
        <div class="banda_bg__footer_roja">
            <nav class="navbar_footer container">
                <div class="navbar_footer__isologo_v">
                    <picture>
                        <a href="../index.html"><img src="../static/img/Isologotipo_MediQi_V_Blanco.svg"
                                alt="MediQi // Medicina Tradicional CHINA"></a>
                    </picture>
                </div>
                <div class="navbar_footer__datos">
                    <p class="dato__razon_social">MediQi | Medicina tradicional CHINA</p>
                    <p class="dato__movil">11.1234.5678</p>
                    <div class="dato__mail"><a href="mailto:mediqi.mtc@gmail.com">mediqi.mtc@gmail.com</a></div>
                    <p class="dato__url">
                        <a href="http://www.mediqi.com.ar">www.mediqi.com.ar</a>
                    </p>
                </div>
                <div class="navbar_footer__menu">
                    <picture class="filete_footer_large">
                        <img src="../static/img/filete_footer_large.svg" alt="">
                    </picture>
                    <ul class="navbar_footer__menu__items">
                        <li class="navbar_footer__item"><a href="../Index.html">MEDIQI</a></li>
                        <li class="navbar_footer__item"><a href="../templates/terapias.html">TERAPIAS</a></li>
                        <li class="navbar_footer__item"><a href="../templates/contacto.html">CONTACTO</a></li>
                    </ul>
                </div>
                <div class="navbar_footer__login">
                    <picture class="filete_footer_small">
                        <img src="../static/img/filete_footer_small.svg" alt="">
                    </picture>
                    <ul class="navbar_footer__login__items">
                        <li class="navbar_footer__item"><a href="../templates/login.html">INGRESAR</a></li>
                        <li class="navbar_footer__item"><a href="../templates/registrese.html">REGISTRESE</a></li>
                    </ul>
                </div>
                <div>
                    <ul class="navbar_footer__redes">
                        <li class="navbar_footer__redes__item">
                            <a class="navbar__footer__btn_f" href="http://www.facebook.com"></a>
                        </li>
                        <li class="navbar_footer__redes__item">
                            <a class="navbar__footer__btn_i" href="http://www.instagram.com"></a>
                        </li>
                        <li class="navbar_footer__redes__item">
                            <a class="navbar__footer__btn_x" href="http://www.x.com"></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="banda_bg__footer_gris">
            <picture class="deco_footer_roja">
                <img src="../static/img/deco_footer_roja.svg" alt="">
            </picture>
        </div>
    </footer>
    <!-- Fin Footer -->


    </body>

</html>