<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <link rel="stylesheet" href="../static/css/profesionales.css">
        <link rel="stylesheet" href="../static/css/index.css">
        <link rel="stylesheet" href="../static/css/header.css">
        <link rel="stylesheet" href="../static/css/footer.css">
    </head>

    <body>
        <header>
            <nav class="navbar container">
                <picture class="navbar__isologo_rec">
                    <a href="../Index.html"><img src="/static/img/Isologotipo_MediQi_H.svg"
                            alt="MediQi // Medicina Tradicional CHINA"></a>
                </picture>
                <ul class="navbar__login">
                    <li class="navbar__login__item">
                        <a class="navbar__login__link" href="templates/login.html">INGRESAR</a>
                    </li>
                    <li>
                        <picture class="filete_header_login">
                            <img src="../static/img/filete_header_login.svg" alt="">
                        </picture>
                    </li>
                    <li class="navbar__login__icono">
                        <a class="navbar__login__btn_f" href="http://www.facebook.com"></a>
                    </li>
                    <li class="navbar__login__icono">
                        <a class="navbar__login__btn_i" href="http://www.instagram.com"></a>
                    </li>
                    <li class="navbar__login__icono">
                        <a class="navbar__login__btn_x" href="http://www.x.com"></a>
                    </li>
                </ul>
                <ul class="navbar__menu">
                    <li class="navbar__menu__item">
                        <a class="navbar__menu__link_1" href="templates/institucional.html">MEDIQI</a>
                    </li>
                    <li class="navbar__menu__item">
                        <a class="navbar__menu__link_2" href="templates/terapias.html">TERAPIAS</a>
                    </li>
                    <li class="navbar__menu__item">
                        <a class="navbar__menu__link_3" href="templates/profesionales.html">PROFESIONALES</a>
                    </li>
                    <li class="navbar__menu__item">
                        <a class="navbar__menu__link_4" href="templates/contacto.html">CONTACTO</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main>
            <div id="filtros"></div>
            <div id="root"></div>
        </main>

        <script defer src="../static/profesionales.js"></script>



        <footer style="position: relative; bottom: 0; width: 100%;">
            <div class="banda_bg__footer_roja">
                <nav class="navbar_footer container">
                    <div class="navbar_footer__isologo_v">
                        <picture>
                            <a href="../index.html"><img src="static/img/Isologotipo_MediQi_V_Blanco.svg"
                                    alt="MediQi // Medicina Tradicional CHINA"></a>
                        </picture>
                    </div>
                    <div class="navbar_footer__datos">
                        <p class="dato__razon_social">MediQi | Medicina tradicional CHINA</p>
                        <p class="dato__movil">11.1234.5678</p>
                        <div class="dato__mail"><a href="mailto:mediqi.mtc@gmail.com">mediqi.mtc@gmail.com</a></div>
                        <p class="dato__url">
                            <a href="http://www.mediqi.com.ar">www.mediqi.com.ar</a>
                        </p>
                    </div>
                    <div class="navbar_footer__menu">
                        <picture class="filete_footer_large">
                            <img src="static/img/filete_footer_large.svg" alt="">
                        </picture>
                        <ul class="navbar_footer__menu__items">
                            <li class="navbar_footer__item"><a href="templates/institucional.html">MEDIQI</a></li>
                            <li class="navbar_footer__item"><a href="templates/terapias.html">TERAPIAS</a></li>
                            <li class="navbar_footer__item"><a href="templates/profesionales.html">PROFESIONALES</a>
                            </li>
                            <li class="navbar_footer__item"><a href="templates/contacto.html">CONTACTO</a></li>
                        </ul>
                    </div>
                    <div class="navbar_footer__login">
                        <picture class="filete_footer_small">
                            <img src="static/img/filete_footer_small.svg" alt="">
                        </picture>
                        <ul class="navbar_footer__login__items">
                            <li class="navbar_footer__item"><a href="templates/login.html">INGRESAR</a></li>
                            <li class="navbar_footer__item"><a href="templates/registrese.html">REGISTRESE</a></li>
                        </ul>
                    </div>
                    <div>
                        <ul class="navbar_footer__redes">
                            <li class="navbar_footer__redes__item">
                                <a class="navbar__footer__btn_f" href="http://www.facebook.com"></a>
                            </li>
                            <li class="navbar_footer__redes__item">
                                <a class="navbar__footer__btn_i" href="http://www.instagram.com"></a>
                            </li>
                            <li class="navbar_footer__redes__item">
                                <a class="navbar__footer__btn_x" href="http://www.x.com"></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="banda_bg__footer_gris">
                <picture class="deco_footer_roja">
                    <img src="static/img/deco_footer_roja.svg" alt="">
                </picture>
            </div>
        </footer>

        
    </body>

</html>