<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediQi // Terapias</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/terapias.css">
</head>

<body>

    <!-- Inicio Header -->
    <header>
        <nav class="navbar container">
            <picture class="navbar__isologo_rec">
                <a href="../index.html"><img src="../static/img/Isologotipo_MediQi_H.svg"
                        alt="MediQi // Medicina Tradicional CHINA"></a>
            </picture>
            <ul class="navbar__login">
                <li class="navbar__login__item">
                    <a class="navbar__login__link" href="../templates/login.html">INGRESAR</a>
                </li>
                <li>
                    <picture class="filete_header_login">
                        <img src="../static/img/filete_header_login.svg" alt="">
                    </picture>
                </li>
                <li class="navbar__login__icono">
                    <a class="navbar__login__btn_f" href="http://www.facebook.com"></a>
                </li>
                <li class="navbar__login__icono">
                    <a class="navbar__login__btn_i" href="http://www.instagram.com"></a>
                </li>
                <li class="navbar__login__icono">
                    <a class="navbar__login__btn_x" href="http://www.x.com"></a>
                </li>
            </ul>
            <ul class="navbar__menu">
                <li class="navbar__menu__item">
                    <a class="navbar__menu__link_1" href="../templates/institucional.html">MEDIQI</a>
                </li>
                <li class="navbar__menu__item">
                    <a class="navbar__menu__link_3" href="../templates/profesionales.html">PROFESIONALES</a>
                </li>
                <li class="navbar__menu__item">
                    <a class="navbar__menu__link_4" href="../templates/contacto.html">CONTACTO</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- Fin Header -->


    <!-- Inicio Main-->
    <main class="container">

        <section class="hero">
            <img src="../static/img/Terapias_Slide.png" alt="Terapias" class="hero__image">
            <div class="hero__text">
                <h1>Terapias</h1>
                <p>Contamos con una amplia gama de terapias que te permitirán encontrar el tratamiento para lograr el
                    equilibrio del yin yang.</p>
            </div>
        </section>

        <!-- Auriculoterapia -->
        <section class="terapia">
            <div class="terapia__content">
                <img src="../static/img/Filete_titulo_Terapia_01.svg" alt="filete1">

                <img src="../static/img/Terapias_Auriculo_Seccion.png" alt="Auriculoterapia" class="terapia__image">
                <div class="terapia__text">
                    <h2>Auriculoterapia</h2>
                    <p>La auriculoterapia es una técnica de la medicina tradicional china que implica estimular puntos
                        específicos en el pabellón auricular (oreja) para tratar diversas afecciones. Esta terapia se
                        recomienda para:</p>
                    <ul>
                        <li>Aliviar el dolor.</li>
                        <li>Reducir el estrés.</li>
                        <li>Tratar adicciones como el tabaquismo.</li>
                        <li>Mejorar el sueño.</li>
                        <li>Equilibrar el sistema energético del cuerpo.</li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Acupuntura -->
        <section class="terapia">
            <div class="terapia__content">
                <img src="../static/img/Filete_titulo_Terapia_02.svg" alt="filete2">

                <div class="terapia__text">
                    <h2>Acupuntura</h2>
                    <p>La acupuntura es una técnica de la medicina tradicional china que implica la inserción de agujas
                        delgadas en puntos específicos del cuerpo. Esta terapia se recomienda para:</p>
                    <ul>
                        <li>Aliviar el dolor.</li>
                        <li>Mejorar la circulación.</li>
                        <li>Fortalecer el sistema inmunológico.</li>
                        <li>Equilibrar la energía del cuerpo.</li>
                    </ul>
                </div>
                <img src="../static/img/Terapias_Acupuntura_Seccion.png" alt="Acupuntura" class="terapia__image">
            </div>
        </section>

        <!-- Moxibustión -->
        <section class="terapia">
            <div class="terapia__content">
                <img src="../static/img/Filete_titulo_Terapia_01.svg" alt="filete1">
                <img src="../static/img/Terapias_Moxibustion_Seccion.png" alt="Moxibustión" class="terapia__image">
                <div class="terapia__text">
                    <h2>Moxibustión</h2>
                    <p>La moxibustión es una terapia de la medicina tradicional china que utiliza el calor generado por
                        la combustión de la planta Artemisa para estimular puntos específicos del cuerpo. Esta terapia
                        se recomienda para:</p>
                    <ul>
                        <li>Aliviar el dolor muscular y articular.</li>
                        <li>Mejorar la circulación sanguínea.</li>
                        <li>Fortalecer el sistema inmunológico.</li>
                        <li>Promover la salud general y el bienestar.</li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Masajes Tuina -->
        <section class="terapia">
            <div class="terapia__content">
                <img src="../static/img/Filete_titulo_Terapia_02.svg" alt="filete2">
                <div class="terapia__text">
                    <h2>Masajes Tuina</h2>
                    <p>El masaje Tuina es una técnica de la medicina tradicional china que combina masaje y manipulación
                        para tratar diversas afecciones. Esta terapia se recomienda para:</p>
                    <ul>
                        <li>Aliviar el dolor muscular y articular.</li>
                        <li>Reducir el estrés y la ansiedad.</li>
                        <li>Mejorar la circulación sanguínea.</li>
                        <li>Promover la relajación general.</li>
                    </ul>
                </div>
                <img src="../static/img/Terapias_Tuina_Seccion.png" alt="Masajes Tuina" class="terapia__image">
            </div>
        </section>

        <!-- Ventosas -->
        <section class="terapia">
            <div class="terapia__content">
                <img src="../static/img/Filete_titulo_Terapia_01.svg" alt="filete1">
                <img src="../static/img/Terapias_Ventosas_Seccion.png" alt="Ventosas" class="terapia__image">
                <div class="terapia__text">
                    <h2>Ventosas</h2>
                    <p>La terapia con ventosas es una práctica de la medicina tradicional china que utiliza vasos de
                        succión para mejorar la circulación y aliviar el dolor. Esta terapia se recomienda para:</p>
                    <ul>
                        <li>Aliviar el dolor muscular y articular.</li>
                        <li>Mejorar la circulación sanguínea.</li>
                        <li>Reducir la inflamación.</li>
                        <li>Promover la relajación y el bienestar general.</li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
    <!-- Fin Main-->

    <!-- Inicio Footer -->
    <footer style="position: relative; bottom: 0; width: 100%;">
        <div class="banda_bg__footer_roja">
            <nav class="navbar_footer container">
                <div class="navbar_footer__isologo_v">
                    <picture>
                        <a href="../index.html"><img src="../static/img/Isologotipo_MediQi_V_Blanco.svg"
                                alt="MediQi // Medicina Tradicional CHINA"></a>
                    </picture>
                </div>
                <div class="navbar_footer__datos">
                    <p class="dato__razon_social">MediQi | Medicina tradicional CHINA</p>
                    <p class="dato__movil">11.1234.5678</p>
                    <div class="dato__mail"><a href="mailto:mediqi.mtc@gmail.com">mediqi.mtc@gmail.com</a></div>
                    <p class="dato__url">
                        <a href="http://www.mediqi.com.ar">www.mediqi.com.ar</a>
                    </p>
                </div>
                <div class="navbar_footer__menu">
                    <picture class="filete_footer_large">
                        <img src="static/img/filete_footer_large.svg" alt="">
                    </picture>
                    <ul class="navbar_footer__menu__items">
                        <li class="navbar_footer__item"><a href="../templates/institucional.html">MEDIQI</a></li>
                        <li class="navbar_footer__item"><a href="../templates/profesionales.html">PROFESIONALES</a></li>
                        <li class="navbar_footer__item"><a href="../templates/contacto.html">CONTACTO</a></li>
                    </ul>
                </div>
                <div class="navbar_footer__login">
                    <picture class="filete_footer_small">
                        <img src="static/img/filete_footer_small.svg" alt="">
                    </picture>
                    <ul class="navbar_footer__login__items">
                        <li class="navbar_footer__item"><a href="templates/login.html">INGRESAR</a></li>
                        <li class="navbar_footer__item"><a href="templates/registrese.html">REGISTRESE</a></li>
                    </ul>
                </div>
                <div>
                    <ul class="navbar_footer__redes">
                        <li class="navbar_footer__redes__item">
                            <a class="navbar__footer__btn_f" href="http://www.facebook.com"></a>
                        </li>
                        <li class="navbar_footer__redes__item">
                            <a class="navbar__footer__btn_i" href="http://www.instagram.com"></a>
                        </li>
                        <li class="navbar_footer__redes__item">
                            <a class="navbar__footer__btn_x" href="http://www.x.com"></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="banda_bg__footer_gris">
            <picture class="deco_footer_roja">
                <img src="static/img/deco_footer_roja.svg" alt="">
            </picture>
        </div>
    </footer>
    <!-- Fin Footer -->
</body>

</html>