<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/terapias.css">
    <title>Terapias</title>
</head>

<body>

<header class="centrado">
    <h1>Terapias Disponibles</h1>
</header>


<main>

<section>  
    <h2>1. Auriculoterapia</h2>
    
    <div>
        <img src="../static/img/Auriculoterapia.jpeg" alt="Auriculoterapia">
        <p>
            La auriculoterapia es una técnica de la medicina tradicional 
            china que implica estimular puntos específicos en el pabellón 
            auricular (oreja) para tratar diversas afecciones. <br> Esta terapia se recomienda para:
        </p>
        <ul>
            <li>Aliviar el dolor.</li>
            <li>Reducir el estrés.</li>
            <li>Tratar adicciones como el tabaquismo.</li>
            <li>Mejorar el sueño.</li>
            <li>Equilibrar el sistema energético del cuerpo.</li>
        </ul>
    </div>
</section>


<section>
    <h2>2. Acupuntura</h2>

    <div>
        <img src="../static/img/Acupuntura.jpeg" alt="Acupuntura">
        <p>La Acupuntura se basa en la inserción de agujas delgadas en puntos específicos 
           del cuerpo para estimular el flujo de energía o "qi" y restaurar 
           el equilibrio en el cuerpo. <br> Esta terapia se recomienda para:
        </p>
        <ul>
            <li>Migrañas y dolores de cabeza.</li>
            <li>Náuseas y vómitos, incluyendo los asociados con la quimioterapia.</li>
            <li>Asma y otras enfermedades respiratorias.</li>
            <li>Problemas de la piel, como el acné y la psoriasis.</li>
            <li>Hipertensión arterial y otros trastornos cardiovasculares.</li>
        </ul>
    </div>
</section>


<section>
    <h2>3. Moxibustión</h2>

    <div>
        <img src="../static/img/Moxibustion.jpeg" alt="Moxibustión">
        <p>La moxibustión implica la quema de hierbas secas (generalmente artemisa) cerca de puntos de 
           acupuntura específicos para calentar y estimular estos puntos. <br> Esta terapia se recomienda para:
        </p>
        <ul>
            <li>Mejora de la energía y fatiga crónica.</li>
            <li>Problemas gastrointestinales como la indigestión.</li>
            <li>Dolores musculares y tensiones.</li>
            <li>Mejora de la circulación sanguínea y alivio del frío en extremidades.</li>
            <li>Alivio de la tensión muscular y rigidez.</li>
        </ul>
    </div>
</section>


<section>
    <h2>4. Masajes TuiNa</h2>

    <div>
        <img src="../static/img/TuiNa.jpeg" alt="TuiNa">
        <p>El TuiNa es un tipo de masaje terapéutico que implica la manipulación 
           de los tejidos blandos y los puntos de acupuntura para promover 
           la circulación de qi y sangre, aliviar el dolor y mejorar la función del 
           órgano. <br> Esta terapia se recomienda para:
        </p>
        <ul>
            <li>Alivio del dolor de espalda y rigidez muscular.</li>
            <li>Mejora de la circulación sanguínea y linfática.</li>
            <li>Reducción del estrés y la ansiedad.</li>
            <li>Tratamiento de lesiones deportivas como esguinces y distensiones.</li>
            <li>Mejora del sueño y alivio de la fatiga crónica.</li>
        </ul>
    </div>
</section>


<section>
    <h2>5. Ventosa</h2>
    
    <div>
        <img src="../static/img/Ventosa.jpeg" alt="Ventosa">
        <p>La terapia de ventosas es una práctica antigua que implica la 
           colocación de vasos en la piel para crear succión controlada. 
           Los beneficios de esta técnica van más allá del alivio del dolor, 
           ya que también se cree que ayuda a liberar toxinas y mejorar la circulación linfática. 
           Es una opción popular para aquellos que buscan alivio natural. <br> Esta terapia se recomienda para:
        </p>
        <ul>
           <li>Alivio del dolor muscular y rigidez.</li>
           <li>Mejora de la circulación sanguínea y linfática.</li>
           <li>Reducción de la inflamación y la hinchazón.</li>
           <li>Tratamiento de problemas respiratorios como la congestión nasal.</li>
           <li>Alivio del estrés y la tensión muscular.</li> 
        </ul>
    </div>
</section>


</main>

    
<footer>
    <p><a href="../index.html">Volver a la página principal</a></p>
</footer>


</body>

</html>