<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediQi // Terapias</title>
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/profesionales_final.css">
</head>

<body>

    <!-- Inicio Header -->
    <header>
        <nav class="navbar container">
            <picture class="navbar__isologo_rec">
                <a href="../index.html"><img src="../static/img/Isologotipo_MediQi_H.svg"
                        alt="MediQi // Medicina Tradicional CHINA"></a>
            </picture>
            <ul class="navbar__login">
                <li class="navbar__login__item">
                    <a class="navbar__login__link" href="../index_intranet.html">IntraNet</a>
                </li>
                <li>
                    <picture class="filete_header_login">
                        <img src="../static/img/filete_header_login.svg" alt="">
                    </picture>
                </li>
                <li class="navbar__login__icono">
                    <a class="navbar__login__btn_f" href="http://www.facebook.com"></a>
                </li>
                <li class="navbar__login__icono">
                    <a class="navbar__login__btn_i" href="http://www.instagram.com"></a>
                </li>
                <li class="navbar__login__icono">
                    <a class="navbar__login__btn_x" href="http://www.x.com"></a>
                </li>
            </ul>
            <ul class="navbar__menu">
                <li class="navbar__menu__item">
                    <a class="navbar__menu__link_1" href="../index.html">MEDIQI</a>
                </li>
                <li class="navbar__menu__item">
                    <a class="navbar__menu__link_3" href="../templates/profesionales.html">PROFESIONALES</a>
                </li>
                <li class="navbar__menu__item">
                    <a class="navbar__menu__link_4" href="../templates/contacto.html">CONTACTO</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- Fin Header -->


    <!-- Inicio Main-->
    
    <section class="hero__slide">
        <article class="hero__content container">
            <h1 class="hero__titulo">Ingreso a IntraNet</h1>
            <p class="hero__bajada_slide">Ingrese su Usuario y Contraseña que le permitira acceder a la IntraNet de Administración.</p>
            <form method="post" action="{{ url_for('login') }}">
                <label for="username">Usuario:</label>
                <input type="text" id="username" name="username" required><br><br>
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required><br><br>
                <button type="submit">Iniciar sesión</button>
            </form>
        </article>
    </section>

    <main class="container">



    </main>
    <!-- Fin Main-->

    <!-- Inicio Footer -->
    <footer>
        <div class="banda_bg__footer_roja">
            <nav class="navbar_footer container">
                <div class="navbar_footer__isologo_v">
                    <picture>
                        <a href="../index.html"><img src="../static/img/Isologotipo_MediQi_V_Blanco.svg"
                                alt="MediQi // Medicina Tradicional CHINA"></a>
                    </picture>
                </div>
                <div class="navbar_footer__datos">
                    <p class="dato__razon_social">MediQi | Medicina tradicional CHINA</p>
                    <p class="dato__movil">11.1234.5678</p>
                    <div class="dato__mail"><a href="mailto:mediqi.mtc@gmail.com">mediqi.mtc@gmail.com</a></div>
                    <p class="dato__url">
                        <a href="http://www.mediqi.com.ar">www.mediqi.com.ar</a>
                    </p>
                </div>
                <div class="navbar_footer__menu">
                    <picture class="filete_footer_large">
                        <img src="../static/img/filete_footer_large.svg" alt="">
                    </picture>
                    <ul class="navbar_footer__menu__items">
                        <li class="navbar_footer__item"><a href="../Index.html">MEDIQI</a></li>
                        <li class="navbar_footer__item"><a href="../templates/profesionales.html">PROFESIONALES</a></li>
                        <li class="navbar_footer__item"><a href="../templates/contacto.html">CONTACTO</a></li>
                    </ul>
                </div>
                <div class="navbar_footer__login">
                    <picture class="filete_footer_small">
                        <img src="../static/img/filete_footer_small.svg" alt="">
                    </picture>
                    <ul class="navbar_footer__login__items">
                        <li class="navbar_footer__item"><a href="../templates/login.html">INGRESAR</a></li>
                        <li class="navbar_footer__item"><a href="../templates/registrese.html">REGISTRESE</a></li>
                    </ul>
                </div>
                <div>
                    <ul class="navbar_footer__redes">
                        <li class="navbar_footer__redes__item">
                            <a class="navbar__footer__btn_f" href="http://www.facebook.com"></a>
                        </li>
                        <li class="navbar_footer__redes__item">
                            <a class="navbar__footer__btn_i" href="http://www.instagram.com"></a>
                        </li>
                        <li class="navbar_footer__redes__item">
                            <a class="navbar__footer__btn_x" href="http://www.x.com"></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="banda_bg__footer_gris">
            <picture class="deco_footer_roja">
                <img src="../static/img/deco_footer_roja.svg" alt="">
            </picture>
        </div>
    </footer>
    <!-- Fin Footer -->

    <script src="../static/js/editar_profesional.js"></script>
    <script src="../static/js/datos_editar.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="static/js/tabla_profesionales.js"></script>
</body>

</html>
